
<div class="admin-panel">

  <h2 class="text-center title mb-4">📊 Resultados de Encuestas</h2>

  <div class="table-responsive">

    <table class="table table-dark table-hover text-center gamer-table">

      <thead>
        <tr>
          <th>👤 Usuario</th>
          <th>🎂 Edad</th>
          <th>🎮 Juegos</th>
          <th>📅 Fecha</th>
          <th>¿Mejoras?</th>
        </tr>
      </thead>

      <tbody>

        @for (e of encuestas(); track e.id) {

        <tr class="table-row">

          <td class="user-cell">
            {{ e.nombre }} {{ e.apellido }}
          </td>

          <td>
            <span class="badge bg-info text-dark px-3 py-2">
              {{ e.edad }}
            </span>
          </td>

          <td class="games-cell">
            @for (g of e.juegos; track g) {
                <span class="badge bg-success me-1">
                    {{ g }}
                </span>
            }   
          </td>

          <td class="date-cell">
            {{ e.created_at }}
          </td>

          <td class="user-cell">
            {{e.pregunta3}}
          </td>

        </tr>

        }

      </tbody>

    </table>

  </div>

</div>
