<div class="game-container">

  <div class="container py-4">

    <h2 class="text-center text-light mb-5">
      🎮 RANKING
    </h2>

    <div class="container mt-4">

      <h2 class="ranking-title">🏆 Ranking Ahorcado</h2>

      <div class="table-responsive ranking-wrapper">

        <table class="table table-dark table-hover ranking-table text-center align-middle">

          <thead>
            <tr>
              <th>#</th>
              <th>Jugador</th>
              <th>Mejor tiempo</th>
            </tr>
          </thead>

          <tbody>

            @for (user of ahorcado(); track user[0]; let i = $index) {

            <tr class="ranking-row">

              <td class="rank-position">
                @if (i === 0) {
                <span class="medal gold">🥇</span>
                } @else if (i === 1) {
                <span class="medal silver">🥈</span>
                } @else if (i === 2) {
                <span class="medal bronze">🥉</span>
                } @else {
                {{ i + 1 }}
                }
              </td>

              <td class="player-name">
                {{ user.nombre }}
              </td>

              <td>
                <span class="badge score-badge">
                  @if(user.duracion/1000 <= 60){ {{ (user.duracion/1000).toFixed(2) }} segundos }@else{ {{
                    ((user.duracion/1000)/60).toFixed(1) }} minutos } </span>
              </td>

            </tr>

            }

          </tbody>

        </table>

      </div>
    </div>

    <div class="container mt-4">

      <h2 class="ranking-title">🏆 Ranking Mayor o menor</h2>

      <div class="table-responsive ranking-wrapper">

        <table class="table table-dark table-hover ranking-table text-center align-middle">

          <thead>
            <tr>
              <th>#</th>
              <th>Jugador</th>
              <th>Puntaje</th>
            </tr>
          </thead>

          <tbody>

            @for (user of mayorMenor(); track user[0]; let i = $index) {

            <tr class="ranking-row">

              <td class="rank-position">
                @if (i === 0) {
                <span class="medal gold">🥇</span>
                } @else if (i === 1) {
                <span class="medal silver">🥈</span>
                } @else if (i === 2) {
                <span class="medal bronze">🥉</span>
                } @else {
                {{ i + 1 }}
                }
              </td>

              <td class="player-name">
                {{ user.nombre }}
              </td>

              <td>
                <span class="badge score-badge">
                  {{ user.puntaje }}
                </span>
              </td>

            </tr>

            }

          </tbody>

        </table>

      </div>
    </div>

    <div class="container mt-4">

      <h2 class="ranking-title">🏆 Ranking Preguntados</h2>

      <div class="table-responsive ranking-wrapper">

        <table class="table table-dark table-hover ranking-table text-center align-middle">

          <thead>
            <tr>
              <th>#</th>
              <th>Jugador</th>
              <th>Puntaje</th>
            </tr>
          </thead>

          <tbody>

            @for (user of preguntados(); track user[0]; let i = $index) {

            <tr class="ranking-row">

              <td class="rank-position">
                @if (i === 0) {
                <span class="medal gold">🥇</span>
                } @else if (i === 1) {
                <span class="medal silver">🥈</span>
                } @else if (i === 2) {
                <span class="medal bronze">🥉</span>
                } @else {
                {{ i + 1 }}
                }
              </td>

              <td class="player-name">
                {{ user.nombre }}
              </td>

              <td>
                <span class="badge score-badge">
                  {{ user.puntaje }}
                </span>
              </td>

            </tr>

            }

          </tbody>

        </table>

      </div>
    </div>

    <div class="container mt-4">

      <h2 class="ranking-title">🏆 Ranking Simon dice</h2>

      <div class="table-responsive ranking-wrapper">

        <table class="table table-dark table-hover ranking-table text-center align-middle">

          <thead>
            <tr>
              <th>#</th>
              <th>Jugador</th>
              <th>Puntaje</th>
            </tr>
          </thead>

          <tbody>

            @for (user of simonDice(); track user[0]; let i = $index) {

            <tr class="ranking-row">

              <td class="rank-position">
                @if (i === 0) {
                <span class="medal gold">🥇</span>
                } @else if (i === 1) {
                <span class="medal silver">🥈</span>
                } @else if (i === 2) {
                <span class="medal bronze">🥉</span>
                } @else {
                {{ i + 1 }}
                }
              </td>

              <td class="player-name">
                {{ user.nombre }}
              </td>

              <td>
                <span class="badge score-badge">
                  {{ user.record }}
                </span>
              </td>

            </tr>

            }

          </tbody>

        </table>

      </div>
    </div>

  </div>