<div class="container-fluid bg-gamer py-5">

  <div class="container">

    <!-- TARJETA PRINCIPAL -->
    <div class="profile-card">

      <!-- Avatar -->
      <div class="text-center mb-4">
        <img 
          [src]="user()?.avatar" 
          alt="avatar"
          class="avatar-img"
        >
        <h2 class="mt-3">{{ user()?.name || 'Sin nombre' }}</h2>
        <p class="text-muted-custom">@{{ user()?.username }}</p>
      </div>

      <!-- BIO / DESCRIPCIÓN -->
      <div class="mb-4 text-center">
        <p>{{ user()?.bio || 'Sin biografía disponible' }}</p>
      </div>

    </div>

    <!-- SECCIÓN JUEGO -->
    <div class="game-card mt-5">

  <h3 class="mb-3">🎮 Simon Dice</h3>
  

  
  <h3>Descripción:</h3>
    <p>Simon Dice es un juego de memoria donde el sistema genera una secuencia de colores que el jugador debe repetir en el mismo orden. La secuencia se vuelve más larga y desafiante en cada ronda.</p>

  <h3>Reglas del juego:</h3>

    <ul>
      <li>El juego muestra una secuencia de colores iluminados. </li>
      <li>El jugador debe repetir la secuencia en el mismo orden.</li>
      <li>Cada ronda agrega un nuevo color a la secuencia.</li>
      <li>Si el jugador se equivoca, la partida termina.</li>
      <li>El objetivo es lograr la mayor cantidad de niveles posibles.</li>
    </ul>

</div>